.bg-orange{
  background-color: #F7B617;
}
.bg-dark-gray{
 background-color: #2B2B2B;
}
.bg-rgblack{
  background-color: rgba(0,0,0,0.7);
}
.c-white{
  color: white;
}
.bo-non{
  border: none;
}
.bor-white{
  border: 1px solid white;
}
.bor-btm-white{
  border-bottom: 1px solid white;
}
.ff-open-sans{
  font-family: 'Open Sans', sans-serif;
}
.ff-raleway{
  font-family: 'Raleway', sans-serif;
}
.p-0{
  padding: 0;
}
.item-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dir-column{
  flex-direction: column;
}
.alig-fl-start{
  align-items: flex-start;
}
.bg-prop{
  background-repeat: no-repeat;
  background-size: cover;
}
.height-100pr{
  height: 100%;
}
#hero{
  background-image: url("../img/taxi.jpg");
  height: 85vh;
  background-position-y: 100%;
}
#driver{
  background-image: url("../img/conduce.jpg");
  height: 30rem;
  background-position-y: 50%;
}
#map{
  height: 30rem;
}
@media (min-width: 768px){
  .alig-fl-end-sm{
    align-items: flex-end;
  }
}
